.container-header{
  margin: 2px;
  height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid #9b989850 2px;

}

body{
  background-color: rgb(255, 255, 255);
}

.btnInicio{
  border: none;
  background-color: #80808021;
  padding: 15px;
  border-radius: 8px;
}