.p-warning {
  color: black;
  margin-top: 1rem;
  font-size: 22px;
  width: 100%;
  margin-bottom:  32px;
}

.empty-image {
  width: 282px;
}

.empty-image {
  display: flex;
  margin: 0 auto;
  margin-top: 1rem;
}

.div{
  max-width: 308px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: inherit;
}

.ul-container{
  width: 100%
}

.div-container{
  width: 80%;

}


.financial-summary, .financial {
  color: black;
  margin-top: 1.5rem;
  font-size: 16px;
  width: 80%;
  margin-top: 20px;
}

@media(min-width: 400px){
 
}

