.p-warning {
  color: black;
  margin-top: 1rem;
  font-size: 1.5rem;
  width: 20rem;
}

.empty-image {
  width: 20rem;
}

.empty-image {
  display: flex;
  margin: 0 auto;
  margin-top: 1rem;
}




.financial-summary, .financial {
  color: black;
  /* margin-top: 1.5rem; */
}

@media(min-width: 400px){
 
}

