.container-value-total h3,
.container-value-total p {
  margin: 5px;
}

.container-balance p {
  font-weight: bold;
  color: #fd377e;
}

.container-sum p {
  font-size: 12px;
}

.container-balance {
  display: flex;
  flex-direction: row;
}

.container-sum {
  margin: 0 auto;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(77, 67, 67, 0.089);
  padding: 1rem;
  border-radius: 5px;
  text-align: start;
}

.p-value {
  color: rgba(0, 0, 0, 0.582);
}

.container-value-total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
