.ul-filter{
    display: flex;
    margin-top: 20px;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.container-form{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 1rem;
    flex-direction: column;

}

.div-cards{
    height: 328px;
}

.div-filter{
    gap: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}




.container-right{
    gap: 1rem;
    justify-content: center
  
}

.btn-filter{
    padding: 0.75rem;
    font-weight: bold;
    border-radius: 4px;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.App{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}


@media(min-width: 700px){
    .container-form{
        width: 36rem;
        gap: 8rem;
       
        display: flex;
        flex-direction: row;
        margin-top: 7rem;
    }

 
    .div-valor{
        display: flex;
    }

}