.container-home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  background-color: #212529;
}

.container-second {
  padding: 1rem;
}

.container-home > img {
 
}

.container-home > div > h1 {
  font-size: 4rem;
  margin-bottom: 4rem;
  color: white;
}

.button-start {
  background-color: #fd377e;
  cursor: pointer;
  color: #fff;
  width: 80%;
  height: 3rem;
  border-radius: 5px;
  border: none;
  margin-top: 2rem;
}

.button-start:hover {
  background-color: #98053e;
  transition: 1s;
}

@media (max-width: 1000px) {
  .container-home {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
  }

  .container-home > div > h1 {
    font-size: 2rem;
    width: 18rem;
  }

  .container-home > img {
    height: 14rem;
    width: 19rem;
  }

  .container-second{
    margin: 1rem;
  }
}

.logo{
  margin-bottom: 4rem;
}

p {
  color: white;
  font-weight: bold;
}

@media(min-width: 600px){
  .container-home > img {
    height: 22rem;
    width: 35rem;
  }

  .container-second{
    width: 30rem;
  }
  
}

