.valor {
  color: black;
}

li {
  list-style: none;
  display: flex;
  flex-direction: column;
  background-color: var(--grey1);
  gap: 4rem;
}

button {
  border: none;
}

.button-remove {
  width: 38px;
  padding: 4px;
  cursor: pointer;
  border-radius: 4px;
}

.button-remove:hover{
  background-color: rgba(128, 128, 128, 0.274);
  transition: 1s;
}

.div-saida {
  border-left: green;
}

.card {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  background-color: #f8f9fa;
}

.card-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-rigth {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  align-self: flex-start;
}

.border-entrada {
  border-left: 5px solid #03B898;

}

.border-saida {
  border-left: 5px solid #E9ECEF;

}

.h3-title{
  width: 5rem;
}




@media (min-width: 700px) {
  li {
    display: flex;
    flex-direction: unset;
  }
}

@media (max-width: 950px){
    .header-resumo{
        flex-direction: column;
    }
}